# HTTP requests
requests>=2.31.0

# Browser automation (for Vimeo)
selenium>=4.15.2
webdriver_manager>=4.0.1

# YouTube API
google-api-python-client>=2.108.0
youtube_transcript_api>=0.6.1

# Optional: for development
black>=23.11.0
pylint>=3.0.2
